@font-face {
  font-family: "./iconfont"; /* Project id 3790918 */
  src: url('./iconfont.woff2?t=1669282751927') format('woff2'),
       url('./iconfont.woff?t=1669282751927') format('woff'),
       url('./iconfont.ttf?t=1669282751927') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-michi:before {
  content: "\e600";
}

.icon-homeaixin:before {
  content: "\e633";
}

.icon-comment:before {
  content: "\e607";
}

.icon-icon:before {
  content: "\e6a0";
}

.icon-jifen:before {
  content: "\e897";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-kucun:before {
  content: "\e60c";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-xiepinglun:before {
  content: "\e667";
}

.icon-aixin:before {
  content: "\e619";
}

.icon-nan1:before {
  content: "\e60e";
}

.icon-nv1:before {
  content: "\e610";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-dianzan1:before {
  content: "\e8c3";
}

.icon-shouye:before {
  content: "\e618";
}

.icon-cart:before {
  content: "\e682";
}

.icon-guanbi:before {
  content: "\e624";
}

.icon-zhengque:before {
  content: "\e640";
}

.icon-fangxiang-xiangxia:before {
  content: "\e614";
}

.icon-fangxiang-xiangshang:before {
  content: "\e615";
}

.icon-fangxiang-xiangzuo:before {
  content: "\e616";
}

.icon-fangxiang-xiangyou:before {
  content: "\e617";
}

.icon-liebiao:before {
  content: "\e86b";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-gantanhao:before {
  content: "\e605";
}

.icon-yonghuguanli-yonghuguanli:before {
  content: "\e61a";
}

