@import '../../index.less';

.layout-container {
  width: 100%;
  height: 100%;
  background-color: @topic-bgcolor;
  position: absolute;
}
//
.layout-animation-up-enter {
  transform: translateY(-100%);
}

.layout-animation-up-enter-active {
  transform: translateY(0%);
  transition: all 300ms;
}

.layout-animation-up-exit {
  transform: translateY(0%);
}

.layout-animation-up-exit-active {
  transform: translateY(100%);
  transition: all 300ms;
}

//
.layout-animation-down-enter {
  transform: translateY(100%);
}

.layout-animation-down-enter-active {
  transform: translateY(0%);
  transition: all 300ms;
}

.layout-animation-down-exit {
  transform: translateY(0%);
}

.layout-animation-down-exit-active {
  transform: translateY(-100%);
  transition: all 300ms;
}