@font-face {
  font-family: "iconfont"; /* Project id 1516553 */
  src: url('iconfont.woff2?t=1653924022736') format('woff2'),
       url('iconfont.woff?t=1653924022736') format('woff'),
       url('iconfont.ttf?t=1653924022736') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notification:before {
  content: "\e635";
}

.icon-message:before {
  content: "\e634";
}

.icon-font-size:before {
  content: "\e632";
}

.icon-closing:before {
  content: "\e631";
}

.icon-hash-tag:before {
  content: "\e630";
}

.icon-iframeLoad:before {
  content: "\e62f";
}

.icon-circle:before {
  content: "\e62d";
}

.icon-check-box:before {
  content: "\e62e";
}

.icon-relate:before {
  content: "\e62c";
}

.icon-switch:before {
  content: "\e62b";
}

.icon-tools:before {
  content: "\e626";
}

.icon-my-articles:before {
  content: "\e625";
}

.icon-person-avatar:before {
  content: "\e624";
}

.icon-favor-fill:before {
  content: "\e622";
}

.icon-publish:before {
  content: "\e61f";
}

.icon-bell:before {
  content: "\e62a";
}

.icon-skip:before {
  content: "\e629";
}

.icon-control-center:before {
  content: "\e628";
}

.icon-time:before {
  content: "\e6b1";
}

.icon-play-btn:before {
  content: "\e65c";
}

.icon-date:before {
  content: "\e627";
}

.icon-shopping:before {
  content: "\e61e";
}

.icon-next-arrow:before {
  content: "\e61d";
}

.icon-up-arrow:before {
  content: "\e65a";
}

.icon-down-arrow:before {
  content: "\e65b";
}

.icon-pre-arrow:before {
  content: "\e61b";
}

.icon-write:before {
  content: "\e61a";
}

.icon-pencil:before {
  content: "\e619";
}

.icon-left-arrow:before {
  content: "\e618";
}

.icon-star:before {
  content: "\e617";
}

.icon-right-arrow:before {
  content: "\e616";
}

.icon-messageBox:before {
  content: "\e615";
}

.icon-quote:before {
  content: "\e614";
}

.icon-fav-fill:before {
  content: "\e613";
}

.icon-share-2:before {
  content: "\e612";
}

.icon-fav:before {
  content: "\e611";
}

.icon-comments:before {
  content: "\e60b";
}

.icon-thumb:before {
  content: "\e610";
}

.icon-share:before {
  content: "\e60f";
}

.icon-like:before {
  content: "\e60e";
}

.icon-comment:before {
  content: "\e60c";
}

.icon-up:before {
  content: "\e60a";
}

.icon-app:before {
  content: "\e608";
}

.icon-ad:before {
  content: "\e607";
}

.icon-edit:before {
  content: "\e606";
}

.icon-close:before {
  content: "\e659";
}

.icon-list:before {
  content: "\e60d";
}

.icon-loading:before {
  content: "\e61c";
}

.icon-hashtag:before {
  content: "\e605";
}

.icon-left:before {
  content: "\e623";
}

.icon-right:before {
  content: "\e633";
}

.icon-home:before {
  content: "\e604";
}

.iconclose:before {
  content: "\e602";
}

.icon-search:before {
  content: "\e601";
}

.icon-mobile:before {
  content: "\e600";
}

.icon-flame:before {
  content: "\e603";
}

.icon-zan:before {
  content: "\e609";
}

